@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,600,900&display=swap);
@import 'base/reset';
@import 'base/clearfix';
@import 'base/variables';
@import 'base/mixins';
@import '~semantic-ui-css/semantic.css';

//Main
html {
  font-size: $BASE_FONT_SIZE;
  background: url('https://images.unsplash.com/photo-1531904895138-ac676f9f125a?ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: unset !important;
}

.App {
  margin-bottom: 150px;
  //   @include for-phone-only {
  //     background-color: #282c34;
  //  }
}

#root {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

//Text

h1,
h2,
h3 {
  font-family: 'Libre Franklin', sans-serif;
  text-transform: uppercase;
  width: fit-content;
}

h1,
h2 {
  font-weight: 800;
}

//Overrides: to be cleaned
a {
  color: #666 !important;
  font-family: 'Libre Franklin', sans-serif;
  text-transform: uppercase;
}

.list-group-item {
  background-color: transparent !important;
}

.nav-tabs {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 0;

  .nav-link.active,
  .nav-link:hover {
    background-color: transparent !important;
    border: 0 !important;
    color: #000 !important;
    font-weight: 600 !important;
  }
}

.blockquote {
  margin-top: 10px;
  background-color: slategrey;
  color: white;
  border-radius: 2px;
}

.card {
  background-color: rgba(255, 255, 255, .7) !important;
}

.card-img-overlay-text {
  background-color: slategray;
  color: #fff;
  border-radius: 4px;
  padding: 5px 6px;
  width: fit-content;
}


//Helpers
.one-line-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-line-left {
  display: flex !important;
  align-items: center;
  justify-content: left;
}

.one-line-column {
  @extend .one-line-spread;
  flex-direction: column;
  margin: 15px 0;
}

//Sections
.header-title {
  padding: 20px 0;

  h1 {
    font-size: 26px;
    font-weight: 600;
  }

  h2 {
    font-size: 15px;
    text-transform: inherit;
  }
}

.section-header {
  display: flex;
  align-items: center;
  margin: 40px 0 20px;
}

.text-section {
  padding: 20px 0;
}


.stats-and-icon {
  @extend .one-line-spread;
  justify-content: space-around;
}

.header-and-badge {
  font-weight: 600;
  font-size: 14px;
  font-family: 'Libre Franklin', sans-serif;
}

//Items
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo {
  height: 15vmin;
  pointer-events: none;
}

.logos {
  width: 60px;
  margin-right: 15px;
}

//COMPONENTS

.booking-btn {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.notifications-custom-div {
  padding-bottom: 20px;
}

.notification-custom {
  width: 100%;
  margin-bottom: 5px;
  color: black;

  &.warning {
    color: #7d132f;
  }
}

//Accordion custom

.accordion-info {
  @extend .one-line-spread;
  justify-content: space-between;
  margin: 0 20px;

  .nr {
    font-weight: 600;
  }
}

.accordion-custom-trigger-section {
  @extend .one-line-spread;
  justify-content: space-between;
}

.accordion-custom-title-countup-section {
  flex-grow: 2;
}

.accordion-custom-title {
  font-size: 18px;
  color: #000;
  line-height: normal;
}

.accordion-custom-countup {
  font-size: 25px;
  color: #000;
  font-weight: 800;
}

//Voting
.voting {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  background-color: $collapsibleBackground;
}

.countUp,
.countDown {
  font-family: 'FontAwesome';
  background-color: transparent;
}

.countUp {
  content: '\f0d8';
  padding: 10px 20px 30px 20px;
}

.countDown {
  content: '\f0d7';
  padding: 30px 20px 10px 20px;
}

//Progress
.progress-section {
  display: flex;
}

.progress {
  font-family: 'Libre Franklin', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 10px;
  width: fit-content;
  padding: 10px;
  background: #000;
  color: #fff;
  margin-right: 3px;
}

.take-action {
  background-color: red;
  color: black;
  font-weight: 400;
}

